.tabs ul li {
    cursor: pointer;
    padding: 10px 20px;
    margin-right: 5px;
    display: inline-block;
    transition: 0.2s ease;
    font-family: "Source Sans Pro", sans-serif;
    font-size: 14px;
    text-transform: uppercase;
}

.tabs ul li.active-tab:active,
.tabs ul li.active-tab:focus,
.tabs ul li.active-tab {
    background: #333;
    color: #fff;
    font-weight: bold;
}

.tab-card .cards-card-body p a {
    color: #202020;
    font-family: "Source Sans Pro", "Helvetica Neue", Helvetica, Arial,
        sans-serif;
    font-size: 18px;
    font-weight: 600;
    text-transform: uppercase;
}
.tab-card .cards-card-body p:nth-of-type(2) {
    color: dimgray;
    display: block;
    font-size: 14px;
    margin-top: 1rem;
    overflow: hidden;
    text-overflow: ellipsis;
    text-transform: uppercase;
    white-space: nowrap;
    width: 260px;
}
