.footer-wrapper {
    background-color: #202020;
    color: #ebebeb;
    margin: 3rem 0 0 0;
    padding: 1rem 0 1.5rem 0;
}

#footer-container {
    clear: both !important;
    display: flex;
    flex-wrap: wrap;
    float: unset !important;
    margin: 0 auto !important;
    max-width: 873pt !important;
    justify-content: space-between; /* Ensures proper spacing between elements */
}

footer .footer-brand .icon {
    height: auto;
    width: auto;
}

footer .footer-brand .icon img {
    height: 47px;
}

footer .footer-link {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

footer .footer-link ul {
    list-style: none;
    display: flex;
    justify-content: center; /* Center the list items */
}

footer .footer-link ul li {
    color: var(--textColor, #202020);
    font-size: var(--fontSizeSmall, 14px);
    text-decoration: none;
    text-transform: uppercase;
}

footer .footer-link ul li a {
    font-family: sans-serif;
    font-size: 18px;
    line-height: 27px;
    background-color: unset;
    color: #f7f7f7;
    padding: 15px 17px;
}

footer .footer-social {
    order: 3;
    margin-left: auto; /* Pushes "Follow Us" section to the right */
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex: 1; /* Allow it to grow */
}

footer .footer-social p {
    margin: 0;
}

footer .footer-text {
    padding: 10px;
    flex: 0 0 100%;
    margin-top: 10px;
    font-family: "Source Sans Pro", "Helvetica Neue", Helvetica, Arial,
        sans-serif;
    font-size: 12px;
    line-height: 15px;
    margin-bottom: 13.5px;
    order: 4;
}

footer .footer-brand .button-container a {
    border: none;
    cursor: pointer;
    max-width: none;
    margin: 0;
    padding-left: 0.5em;
    line-height: normal;
    background-color: #202020;
}
